{% extends 'minip/base.html' %}
{% block content %}
<div class="container" align="center">
    <h2>Login</h2>
    <form action ="{% url 'signin' %}" method="POST" class="post-form">
        <div class="login-box">
        {% csrf_token %}
        <h2>Login Here</h2>
        <div class='textbox'>
        
            <input type="text" placeholder="rollno.name@gvpcew.ac.in" name="username" value="">
            
        </div>

        <div class='textbox'>
            <input type="password" placeholder="password" name="password" value="" >
            
        </div>

        <input class='btn' type="submit" name="" value="Sign in">

        </div>
    </form>


{% endblock %}
